body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
    font-size: 50px;
}

span{
    color: orange;
}

span:hover{
    color: orangered;
}

.container{
    display: flex;
    margin: 0px;
}

.futani{
    width: 50%;
    padding: 5%
}

.futani img{
    width: 80%;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(orangered, orange);
    background-color: orange;
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 6px;
}
.link-button:hover{
    background-image: linear-gradient(crimson, tomato);
    background-color: crimson;
    color: black;
}

.banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

#tnt{
    color: yellowgreen;
}
#tnt:hover{
    color: palevioletred;
}

.link-buttn{
    text-decoration: none;
    background-image: linear-gradient(yellowgreen, green);
    background-color: yellowgreen;
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 6px;
}
.link-buttn:hover{
    background-image: linear-gradient(pink, palevioletred);
    background-color: palevioletred;
    color: black;
}

.second{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

#third{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.h2{
    font-size: 40px;
    font-weight: 800;
}

 .x-area{
     width: 40%;
     margin-left: 5%;
     margin-right: 5%;
     padding-left: 5px;
     border-radius: 10px;
     box-shadow: 10px 10px 40px gray;
 }
 